/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.log
/config.sh
/config.status
/config.sub
/configure
/depcomp
/include/config.h
/include/config.h.in
/include/stamp-h*
/install-sh
/libtool
/libprojfs-*.tar.*z
/ltmain.sh
/m4/*
!/m4/ax*.m4
/missing
/projfs.pc
/t/.prove
/t/test_*
/t/*.trs
!/t/test_*.c
!/t/test_*.h
/t/test-mounts/
/t/test-output/
/t/echo_projlist
/t/get_strerror
/t/wait_mount
.deps/
.libs/
*.la
*.lo
*.log
*.o
Makefile
Makefile.in
